{% if block.type == 'product_oganization' %}
  <div class="smi-product-block-{{ section.id }} smi-product-organization smi-text-sm {% if forloop.index != section.blocks.size %} smi-mb-lg {% endif %} " {{ block.shopify_attributes }}>
    

    {% if block.settings.show_product_type == true and product.type != "" and product.type != blank %}
      <div class="product-organization">
        <span class="product-organization-title smi-text-75"> {{ 'smind.product.product_type' | t }}:&nbsp;</span> {{ product.type }}
      </div>
    {% endif %}
    {% if block.settings.show_vendor == true and product.vendor != "" and product.vendor != blank %}
      {%- capture vendor -%} {{ product.vendor | link_to_vendor }} {%- endcapture -%}
      <div class="product-organization">
        <span class="product-organization-title smi-text-75"> {{ 'smind.product.vendor' | t }}:&nbsp; </span> {{ vendor }}
      </div>
    {% endif %}
    {% if block.settings.show_collections == true and product.collections != blank %}
      <div class="product-organization">
        <span class="product-organization-title smi-text-75"> {{ 'smind.product.collections' | t }}:&nbsp;</span>
        <div>
          {% for collection in product.collections %}
            {% assign collection_coll = '/collections/all/' | append: collection.title %}
            {{ collection.title | capitalize | link_to: collection_coll -}}
            {%- unless forloop.last %},{% endunless %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if block.settings.show_tags == true and product.tags != blank %} 
      {% if product.tags.size > 0 %}
        <div class="product-organization">
          <span class="product-organization-title smi-text-75"> {{ 'smind.product.tags' | t }}:&nbsp;</span>
          <div class="product-tag">
            {% if block.settings.tag_style == 'text' %}
              {% for tag in product.tags %}
                {% assign tag_coll = '/collections/all/' | append: tag %}
                {{ tag | link_to: tag_coll -}}
                {%- unless forloop.last %},&nbsp;{% endunless %}
              {% endfor %}
            {% elsif block.settings.tag_style == 'highlight' %}
              {% for tag in product.tags %}
                <a class="tag-highlight smi-px-xs" href="{{ shop.url}}/collections/all/{{ tag }}">
                  {{ tag }}
                </a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endif %}