{% style %}
	.smi-section-base-slideshow-2 .smi-slideshow__arrows .arrow-slider-content .arrow-slider-left{margin-left:8px}.smi-section-base-slideshow-2 .smi-slideshow__arrows .arrow-slider-content .arrow-slider-right{margin-right:8px}.smi-section-base-slideshow-2{overflow-x:clip}.smi-section-base-slideshow-2 .smi-container .smi-slideshow{--shadow-padding-sides: calc((var(--shadow-horizontal-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));--shadow-padding-sides-negative: calc((var(--shadow-horizontal-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));margin-left:min(0px,var(--shadow-padding-sides-negative)*-1);margin-right:min(0px,var(--shadow-padding-sides)*-1);overflow-x:clip;overflow-y:visible}.smi-section-base-slideshow-2 .smi-container .smi-slideshow .swiper-slide{padding-left:max(0px,var(--shadow-padding-sides-negative));padding-right:max(0px,var(--shadow-padding-sides))}.smi-section-base-slideshow-2 .smi-slideshow{position:relative}.smi-section-base-slideshow-2 .smi-slideshow *{box-sizing:border-box}.smi-section-base-slideshow-2 .smi-slideshow:hover .smi-slideshow__arrows{visibility:visible;opacity:1}.smi-section-base-slideshow-2 .smi-slideshow iframe.smi-background-video{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);pointer-events:none}.smi-section-base-slideshow-2 .smi-slideshow video.smi-background-video{object-fit:cover;width:100%;height:100%}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-background{line-height:0;min-height:var(--slide-height-mobile);position:relative}@media screen and (min-width: 768px){.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-background{min-height:var(--slide-height)}}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-background__inner{overflow:hidden;position:relative}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-background picture{position:absolute;left:0;top:0;right:0;bottom:0}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-background picture>*{object-fit:cover;width:100%;height:100%}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-background svg.smi-placehoder-image{width:100%;height:100%}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-background video,.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-background video>*{width:100%;height:100%;background-color:#000}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-background iframe{border:none;background-color:#000}.smi-section-base-slideshow-2 .smi-slideshow .smi-cover-image{position:absolute;z-index:1;left:0;top:0;width:100%;height:100%;display:flex;justify-content:center;align-items:center}.smi-section-base-slideshow-2 .smi-slideshow .smi-cover-image img{position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover}.smi-section-base-slideshow-2 .smi-slideshow .smi-cover-image__play-button{position:relative;z-index:2;display:flex;padding:20px;align-items:center;justify-content:center;border-radius:100px;border:2px solid #fff;background:rgba(0,0,0,.1);backdrop-filter:blur(1.5px);cursor:pointer;transition:all .5s ease}.smi-section-base-slideshow-2 .smi-slideshow .smi-cover-image__play-button svg{stroke:#fff}.smi-section-base-slideshow-2 .smi-slideshow .smi-cover-image__play-button svg path{fill:#fff}.smi-section-base-slideshow-2 .smi-slideshow .smi-cover-image__play-button:hover{scale:1.05}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-content{max-width:100%}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-content__inner{width:var(--content-max-width, 480px);max-width:100%;padding-bottom:36px}@media screen and (min-width: 768px){.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-content__inner{padding-bottom:calc(84px + var(--pagination-height, 17px))}}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-content__inner>span{display:block}.smi-section-base-slideshow-2 .smi-slideshow .smi-slide-content__inner .smi-text-sub{color:rgba(var(--color-subtext, --color-foreground), 1)}.smi-section-base-slideshow-2 .smi-slideshow .smi-dots-wrap{pointer-events:none}@media screen and (max-width: 767.8px){.smi-section-base-slideshow-2 .smi-slideshow .smi-dots-wrap{padding-bottom:calc(var(--padding-content-xs))}}@media screen and (min-width: 768px){.smi-section-base-slideshow-2 .smi-slideshow .smi-dots-wrap{position:absolute;left:0;right:0;z-index:2;bottom:30px}}.smi-section-base-slideshow-2 .smi-slideshow__dots{display:flex;align-items:center;max-width:100%;background-color:rgba(0,0,0,0) !important}.smi-section-base-slideshow-2 .smi-slideshow__dots>div{pointer-events:auto}.smi-section-base-slideshow-2 .smi-slideshow__dots .text-pagination.smi-pagination{color:rgb(var(--color-foreground))}.smi-section-base-slideshow-2 .smi-slideshow__dots .smi-pagination{position:inherit}.smi-section-base-slideshow-2 .smi-slideshow__dots .dot-container{line-height:0}.smi-section-base-slideshow-2 .smi-slideshow__dots .swiper-pagination-fraction{top:auto;bottom:auto}@media screen and (max-width: 767.8px){.smi-section-base-slideshow-2 .smi-slideshow__dots .smi-slider-dot-container{max-width:calc(100% - 61px)}.smi-section-base-slideshow-2 .smi-slideshow__dots .line-style-4 .swiper-pagination{width:200px !important}}.smi-section-base-slideshow-2 .smi-slideshow__dots .swiper-pagination,.smi-section-base-slideshow-2 .smi-slideshow__dots .smi-arrows{margin-left:0 !important;margin-right:0 !important}.smi-section-base-slideshow-2 .smi-slideshow__arrows{visibility:hidden;opacity:0;transition:all .3s ease;position:absolute;top:50%;transform:translateY(-50%);width:100%;left:0;z-index:2}@media screen and (max-width: 767.98px){.smi-section-base-slideshow-2 .smi-slideshow__arrows{display:none}}.smi-section-base-slideshow-2 .smi-slideshow__arrows .arrow-slider-content{width:100%}.smi-section-base-slideshow-2 .smi-slideshow__arrows .arrow-slider-content .arrow-slider-left{position:absolute;left:0}.smi-section-base-slideshow-2 .smi-slideshow__arrows .arrow-slider-content .arrow-slider-right{position:absolute;right:0}.smi-section-base-slideshow-2 .smi-slideshow .smi-control{line-height:0;letter-spacing:0;display:flex}.smi-section-base-slideshow-2 .smi-slideshow .smi-control.smi-show-divider:before{content:"";width:1px;height:24px;background-color:rgba(var(--color-foreground), 0.2);margin:0 20px;display:inline-block}.smi-section-base-slideshow-2 .smi-slideshow .smi-control .smi-svg-icon{height:20px;width:20px}.smi-section-base-slideshow-2 .smi-slideshow .smi-control>button:not(:first-child){margin-left:20px}.smi-section-base-slideshow-2 .smi-slideshow .smi-control svg{stroke:rgb(var(--color-foreground))}.smi-section-base-slideshow-2 .smi-slideshow .smi-control svg path{fill:rgb(var(--color-foreground))}.smi-section-base-slideshow-2 .smi-slideshow .smi-control .smi-btn-mute,.smi-section-base-slideshow-2 .smi-slideshow .smi-control .smi-btn-play{padding:0;border:none;outline:none;font:inherit;color:inherit;background:none;cursor:pointer}.smi-section-base-slideshow-2 .smi-slideshow .smi-control .smi-btn-mute span,.smi-section-base-slideshow-2 .smi-slideshow .smi-control .smi-btn-play span{display:inline-block}
{% endstyle %}
{% comment %}#component#["settings/media-width","settings/slider-dots","settings/section-padding","settings/buttons","blocks/color","blocks/background","settings/design-mode","settings/animation-settings"]#endcomponent#{% endcomment %}
{{ 'smi-swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'smi-swiper-bundle.min.js' | asset_url }}" defer data-id="swiper"></script>
{% liquid
	assign image_block_size = section.blocks | where: 'type', 'image_slide' | size
	assign video_block_size = section.blocks | where: 'type', 'video_slide' | size
	assign block_media_size = image_block_size | plus: video_block_size
%}
{% comment %}Slide Height{% endcomment %}
{% liquid
	case section.settings.slide_height
		when 'adapt_to_first_image'
			assign first_block = section.blocks[0]
			assign aspect_ratio_first_image = 1
			if first_block.type == 'image_slide' and first_block.settings.image != blank
				assign aspect_ratio_first_image = first_block.settings.image.aspect_ratio
			elsif first_block.type == 'video_slide'
				if first_block.settings.video != blank
					assign aspect_ratio_first_image = first_block.settings.video.aspect_ratio
				elsif first_block.settings.video_url != blank
					assign aspect_ratio_first_image = 16.0 | divided_by: 9.0
				elsif first_block.settings.cover_image != blank
					assign aspect_ratio_first_image = first_block.settings.cover_image.aspect_ratio
				endif
			endif
			comment
                slide_height will be handled in javascript
            endcomment
			if section.settings.container_full_width == true
				assign slide_height = 'calc(960px / ' | append: aspect_ratio_first_image | append: ')'
			else
				assign page_width = 'calc((var(--page-width, 570px) - 60px) / 2)'
				assign slide_height = 'calc(' | append: page_width | append: '/' | append: aspect_ratio_first_image | append: ')'
			endif
			assign slide_height_mobile = 'calc(100vw / ' | append: aspect_ratio_first_image | append: ')'
		when 'x_small'
			assign slide_height = '420px'
			assign slide_height_mobile = '260px'
		when 'small'
			assign slide_height = '480px'
			assign slide_height_mobile = '330px'
		when 'medium'
			assign slide_height = '560px'
			assign slide_height_mobile = '410px'
		when 'large'
			assign slide_height = '680px'
			assign slide_height_mobile = '490px'
		when 'fit_screen'
			assign slide_height = '100vh'
			assign slide_height_mobile = '550px'
	endcase
%}
<style>
    {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      .smi-block-custom-color { 
        --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};        
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
    #shopify-section-{{ section.id }} {
        --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
        --content-max-width: {{ section.settings.content_max_width }}px;
		--padding-content-xs: {% if section.settings.padding_bottom == 0 %} 48px {% else %} 0px {% endif %}
    }
</style>
<div id="smi-{{ section.id }}" class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-base-slideshow-2 smi-color-{{ section.settings.color_scheme }}" data-section="slideshow-2" data-name="✧Slideshow 2">
      
	{% render 'smi-background' %}
	<div class="{%- if section.settings.container_full_width == false %}smi-container{%- endif %}">
		<!-- Slider main container -->
		<div
			class="smi-slideshow swiper smi-media-wrapper {{ section.settings.desktop_media_position | prepend: 'smi-media-position' }}"
			data-slider='{"autoplay":{{- section.settings.auto_rotate_slides -}},"delay":"{{- section.settings.change_slides_every | times: 1000 -}}","effect":"{{- section.settings.slide_transition -}}","pageDotStyle":"{{- section.settings.sticky_page_dot_style -}}", "spaceBetween": "{{- grid | at_least: 10 -}}"}'>
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				{% for block in section.blocks %}
					{% case block.type %}
						{% when 'image_slide' or 'video_slide' %}
							{% comment %}Get classes for position of content{% endcomment %}
{% liquid
    assign position_y = block.settings.desktop_content_position | split: '_' | first
    assign position_x = block.settings.desktop_content_position | split: '_' | last
%}
{% capture properties %}
    --content-background-opacity: {{ block.settings.content_background_opacity | divided_by: 100.0 }};
    --image-overlay: {{ block.settings.image_overlay }};
    --slide-height: {{ slide_height }};
    --slide-height-mobile: {{ slide_height_mobile }};
{% endcapture %}
<div
        class="swiper-slide smi-d-flex smi-flex-wrap"
        style="{{ properties | strip_newlines | remove: '   ' }}"
        data-first-image-ratio="{{ aspect_ratio_first_image | default: 'unset' }}"
        {{ block.shopify_attributes }}
        data-slide-index="{{ forloop.index0 }}"
>
    <div class="smi-slide-background smi-w-100 smi-w-md-50 smi-w-lg-{{ section.settings.desktop_media_width }}">
        <div class="smi-slide-background__inner smi-h-100
            {%- if section.settings.container_full_width == false %} smi-border smi-shadow{% endif -%}
            {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' | prepend: ' smi-hover-image-' }}">
            {% if block.type == 'image_slide' %}
                <picture>
                    {% if block.settings.mobile_image_optional != blank %}
                        <source media="(max-width:767px)" srcset="{{ block.settings.mobile_image_optional | image_url: width: 767 }}">
                    {% endif %}
                    {% if block.settings.image != blank %}
                        {{ block.settings.image | image_url: width: 2048 | image_tag }}
                    {% else %}
                        {% if block.settings.mobile_image_optional == blank %}
                            {{ 'hero-apparel-3' | placeholder_svg_tag: 'smi-bg-image' }}
                        {% else %}
                            {{ 'hero-apparel-3' | placeholder_svg_tag: 'smi-d-none smi-d-md-block smi-bg-image' }}
                            <img class="smi-d-block smi-d-md-none smi-bg-image" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="">
                        {% endif %}
                    {% endif %}
                </picture>
            {% elsif block.type == 'video_slide' %}
                {% if block.settings.cover_image != blank and block.settings.autoplay == false %}
                    <div class="smi-cover-image">
                        <div class="smi-cover-image__play-button">
                            {% render 'smi-icons', icon: 'play-button' %}
                        </div>
                        {{ block.settings.cover_image | image_url: width: 2048 | image_tag: class: 'smi-bg-image' }}
                    </div>
                {% endif %}
                {% if block.settings.video != blank %}
                    {% if block.settings.autoplay %}
                        {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, image_size: '1100x', class: 'smi-background-video' }}
                    {% else %}
                        {{ block.settings.video | video_tag: autoplay: false, loop: true, muted: false, controls: true, image_size: '1100x' }}
                    {% endif %}
                {% elsif block.settings.video_url != blank %}
                    {%- if block.settings.video_url.type == 'youtube' -%}
                        <iframe
                                src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1
                                {%- if block.settings.autoplay == true %}&autoplay=1&mute=1&controls=0&loop=1&playlist={{ block.settings.video_url.id }}&rel=0{% endif -%}"
                                class="smi-js-youtube {% if block.settings.autoplay == true %}smi-background-video{% endif -%}"
                                allow="autoplay; encrypted-media" loading="lazy"
                                allowfullscreen
                                title="{{ block.settings.description | escape }}"
                                width="100%"
                                height="100%"
                        ></iframe>
                    {%- else -%}
                        <iframe
                                src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?title=0&byline=0&portrait=0
                                {%- if block.settings.autoplay == true %}&autoplay=1&loop=1&background=1{% endif -%}"
                                class="smi-js-vimeo {% if block.settings.autoplay == true %}smi-background-video{% endif -%}"
                                allow="autoplay; encrypted-media" loading="lazy"
                                allowfullscreen
                                title="{{ block.settings.description | escape }}"
                                width="100%"
                                height="100%"
                        ></iframe>
                    {%- endif -%}
                {% else %}
                    {{ 'hero-apparel-1' | placeholder_svg_tag: "smi-placehoder-image smi-bg-image" }}
                {% endif %}
            {% endif %}
        </div>
    </div>
    {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
    <div class="smi-slide-content smi-d-flex smi-align-items-center
        {{- ' smi-justify-content-' | append: section.settings.content_position -}}
        {{- 100 | minus:section.settings.desktop_media_width | prepend: ' smi-w-md-50 smi-w-lg-' -}}
        {% if section.settings.desktop_media_position == 'right' %} smi-order-md-first{% endif -%}">
        <div class="smi-slide-content__inner smi-pt-xxl {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in smi-animate-order-1 {% endif -%}
            {{- section.settings.content_alignment | prepend: ' smi-text-' -}}
            {%- liquid
            if section.settings.container_full_width
                echo ' smi-padding-fluid'
            else
                if section.settings.desktop_media_position == 'left'
                    echo ' smi-pl-md-30'
                else
                    echo ' smi-pr-md-30'
                endif
            endif
        -%}"
        >
        <span class="smi-text-sub smi-link-wrapper">
            {{ block.settings.subheading }}
        </span>
        <span class="{{ block.settings.heading_size }} {% if block.settings.description != blank %}smi-mb-sm{% endif %} smi-link-wrapper">
            {{ block.settings.heading }}
        </span>
            <span class="smi-text-lg smi-color-text-75 smi-link-wrapper">
            {{ block.settings.description }}
        </span>
            {% if block.settings.first_button_label != blank or block.settings.second_button_label != blank %}
                <div class="smi-slide-button smi-mt-xl smi-d-flex
                {{- section.settings.content_alignment | prepend: ' smi-justify-content-' -}}"
                >
                    <div class="smi-component-buttons smi-button-wrapper
    {%- if block.settings.button_full_width == true %} smi-component-buttons-full-width{%- endif -%}
    {%- unless block.settings.first_button_style contains 'text' or block.settings.second_button_style contains 'text' %} smi-component-buttons--same-width{% endunless -%}">
    {% liquid
    assign button_label = block.settings.first_button_label
    assign button_style = block.settings.first_button_style
    assign button_link = block.settings.first_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--first smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                {{- ' smi-border smi-shadow' -}}">
            <span>
                {{- button_label | escape -}}
            </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
    {% liquid
    assign button_label = block.settings.second_button_label
    assign button_style = block.settings.second_button_style
    assign button_link = block.settings.second_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--second smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                    {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                    {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                    {{- ' smi-border smi-shadow' -}}">
                    <span>
                        {{- button_label | escape -}}
                    </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
</div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
					{% endcase %}
				{% endfor %}
			</div>
			<!-- If we need pagination -->
			{% if block_media_size > 1 %}
				<div class="smi-dots-wrap smi-invisible">
					<div class="smi-slideshow__dots smi-custom-control-color smi-d-flex
						{%- liquid
							if section.settings.content_alignment == 'right'
								echo ' smi-justify-content-end'
							elsif section.settings.content_alignment == 'left'
								echo ' smi-justify-content-start'
							else
								echo ' smi-justify-content-center'
							endif
						-%}">
						{% if section.settings.sticky_page_dot_style != 'none' %}
  <div class="smi-slider-dot-container">
    {% if section.settings.sticky_page_dot_style == 'text-style-1'
      or section.settings.sticky_page_dot_style == 'text-style-2'
      or section.settings.sticky_page_dot_style == 'text-style-3'
    %}
      <div class="smi-component-sticky-page-dot">
        <div class="smi-slider-action">
          <div class="smi-arrows {{ section.settings.sticky_page_dot_style }}">
            <div data-control="textPrevSlide" class="smi-arrow dot-arrow-slider smi-text-sm">{% render 'smi-icons', icon: 'arrow-left' %}</div>
            {% comment %} <div class="smi-slider-pagination smi-text-sm">1/3</div> {% endcomment %}
            <div class="text-pagination smi-pagination smi-slider-pagination smi-text-sm smi-arrow"></div>
            <div data-control="textNextSlide" class="smi-arrow dot-arrow-slider smi-text-sm">{% render 'smi-icons', icon: 'arrow-right' %}</div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="dot-container {{ section.settings.sticky_page_dot_style }}">
        <div
          class="swiper-pagination smi-pagination"
          {% if section.settings.sticky_page_dot_style == 'dot-style-4' %}
            style="display: flex;"
          {% endif %}
        ></div>
      </div>
    {% endif %}
  </div>
{% endif %}
						{% if section.settings.auto_rotate_slides == true %}
							<div class="smi-control
                				{%- if block_media_size > 1 and section.settings.sticky_page_dot_style != 'none' %} smi-show-divider{% endif -%}"
							>
								<button class="smi-btn-play" data-status="on">
                                    <span class="smi-icon-play smi-d-none">
                                        {% render 'smi-icons', icon: 'play-button' %}
                                    </span>
									<span class="smi-icon-pause">
                                        {% render 'smi-icons', icon: 'pause' %}
                                    </span>
								</button>
							</div>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% schema %}
{
	"name": "✧Slideshow 2-2",
	"tag": "section",
	"class": "smi-section smi-base-slideshow-2",
	"settings": [
		{
			"type": "checkbox",
			"id": "container_full_width",
			"label": "Container full width",
			"default": false
		},
		{
			"type": "select",
			"id": "desktop_media_width",
			"label": "Desktop media width",
			"options": [
				{
					"value": "40",
					"label": "S"
				},
				{
					"value": "50",
					"label": "M"
				},
				{
					"value": "60",
					"label": "L"
				}
			],
			"default": "50"
		},
		{
			"type": "select",
			"id": "desktop_media_position",
			"label": "Desktop media position",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left"
		},
		{
			"type": "select",
			"id": "slide_height",
			"label": "Slide height",
			"options": [
				{
					"value": "adapt_to_first_image",
					"label": "Adapt to first image"
				},
				{
					"value": "x_small",
					"label": "XS"
				},
				{
					"value": "small",
					"label": "S"
				},
				{
					"value": "medium",
					"label": "M"
				},
				{
					"value": "large",
					"label": "L"
				},
				{
					"value": "fit_screen",
					"label": "Fit screen"
				}
			],
			"default": "medium"
		},
		{
			"type": "select",
			"id": "sticky_page_dot_style",
			"label": "Pagination",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "dot-style-1",
					"label": "Dot style 1"
				},
				{
					"value": "dot-style-2",
					"label": "Dot style 2"
				},
				{
					"value": "dot-style-3",
					"label": "Dot style 3"
				},
				{
					"value": "dot-style-4",
					"label": "Dot style 4"
				},
				{
					"value": "line-dot",
					"label": "Line dot"
				},
				{
					"value": "line-style-1",
					"label": "Line style 1"
				},
				{
					"value": "line-style-2",
					"label": "Line style 2"
				},
				{
					"value": "line-style-3",
					"label": "Line style 3"
				},
				{
					"value": "line-style-4",
					"label": "Line style 4"
				},
				{
					"value": "text-style-1",
					"label": "Text style 1"
				},
				{
					"value": "text-style-2",
					"label": "Text style 2"
				},
				{
					"value": "text-style-3",
					"label": "Text style 3"
				}
			],
			"default": "dot-style-1"
		},
		{
			"type": "header",
			"content": "Slides"
		},
		{
			"type": "checkbox",
			"id": "auto_rotate_slides",
			"label": "Auto-rotate slides",
			"default": false
		},
		{
			"type": "range",
			"id": "change_slides_every",
			"min": 3,
			"max": 9,
			"step": 1,
			"unit": "s",
			"label": "Change slides every",
			"default": 5
		},
		{
			"type": "select",
			"id": "slide_transition",
			"label": "Slide transition",
			"options": [
				{
					"value": "slide",
					"label": "Slide"
				},
				{
					"value": "fade",
					"label": "Fade"
				}
			],
			"default": "slide"
		},
		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "select",
			"id": "content_position",
			"label": "Content position",
			"options": [
				{
					"value": "start",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "end",
					"label": "Right"
				}
			],
			"default": "center"
		},
		{
			"type": "text_alignment",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "left"
		},
		{
			"type": "range",
			"id": "content_max_width",
			"min": 400,
			"max": 1200,
			"step": 10,
			"unit": "px",
			"label": "Content max-width",
			"default": 700
		},
		{
			"type": "header",
			"content": "Color"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"default": "scheme_1",
			"label": "Color scheme",
			"info": "To use color scheme: Step 1: Hide color block in section. Step 2: Customize colors in color block of “✧Styles” section in global area. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"name": "Image slide",
			"type": "image_slide",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "mobile_image_optional",
					"label": "Mobile image (optional)"
				},
				{
					"type": "inline_richtext",
					"id": "subheading",
					"label": "Subheading"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"default": "Stimulate child's creativity",
					"label": "Heading"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h4",
							"label": "XS"
						},
						{
							"value": "smi-h3",
							"label": "S"
						},
						{
							"value": "smi-h2",
							"label": "M"
						},
						{
							"value": "smi-h1",
							"label": "L"
						}
					],
					"default": "smi-h1"
				},
				{
					"type": "inline_richtext",
					"id": "description",
					"default": "Our toys are made with high-quality materials and are designed to stimulate your child's creativity, imagination, and curiosity.",
					"label": "Description"
				},
				{
					"type": "header",
					"content": "Buttons"
				},
				{
					"type": "text",
					"id": "first_button_label",
					"label": "First button label",
					"default": "VIEW ALL",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "first_button_link",
					"label": "First button link"
				},
				{
					"type": "select",
					"id": "first_button_style",
					"label": "First button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "text",
					"id": "second_button_label",
					"label": "Second button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link"
				},
				{
					"type": "select",
					"id": "second_button_style",
					"label": "Second button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				}
			]
		},
		{
			"name": "Video slide",
			"type": "video_slide",
			"settings": [
				{
					"type": "image_picker",
					"id": "cover_image",
					"label": "Cover image",
					"info": "The image above will show if autoplay is disabled."
				},
				{
					"type": "video",
					"id": "video",
					"label": "Video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "checkbox",
					"id": "autoplay",
					"label": "Autoplay",
					"default": false
				},
				{
					"type": "header",
					"content": "Heading"
				},
				{
					"type": "inline_richtext",
					"id": "subheading",
					"label": "Subheading"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"default": "Stimulate child's creativity",
					"label": "Heading"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h4",
							"label": "XS"
						},
						{
							"value": "smi-h3",
							"label": "S"
						},
						{
							"value": "smi-h2",
							"label": "M"
						},
						{
							"value": "smi-h1",
							"label": "L"
						}
					],
					"default": "smi-h1"
				},
				{
					"type": "inline_richtext",
					"id": "description",
					"default": "Our toys are made with high-quality materials and are designed to stimulate your child's creativity, imagination, and curiosity.",
					"label": "Description"
				},
				{
					"type": "header",
					"content": "Buttons"
				},
				{
					"type": "text",
					"id": "first_button_label",
					"label": "First button label",
					"default": "VIEW ALL",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "first_button_link",
					"label": "First button link"
				},
				{
					"type": "select",
					"id": "first_button_style",
					"label": "First button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "text",
					"id": "second_button_label",
					"label": "Second button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link"
				},
				{
					"type": "select",
					"id": "second_button_style",
					"label": "Second button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme#how-to-use-the-color-block)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "outline_button_color",
					"default": "#121212",
					"label": "Outline buttton"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Slideshow 2-2",
			"settings": {
				"container_full_width": true,
				"desktop_media_width": "50",
				"desktop_media_position": "left",
				"slide_height": "fit_screen",
				"sticky_page_dot_style": "line-style-4",
				"auto_rotate_slides": true,
				"change_slides_every": 3,
				"slide_transition": "slide",
				"content_position": "center",
				"content_alignment": "left",
				"content_max_width": 700,
				"padding_top": 0,
				"padding_bottom": 0,
				"color_scheme": "scheme_2"
			},
			"blocks": [
				{
					"type": "image_slide",
					"settings": {
						"image": "shopify://shop_images/smi-download_2_fcf4e18f-6209-4c3b-9366-338ff83dabb4.jpg",
						"subheading": "",
						"heading": "Wardrobe essentials for every season elevated",
						"heading_size": "smi-h1",
						"description": "Explore our trendy collection of clothing and accessories to make a fashion statement. The breathable fabric moves with the body.",
						"first_button_label": "Get yours",
						"first_button_link": null,
						"first_button_style": "solid",
						"second_button_label": "Explore all",
						"second_button_link": null,
						"second_button_style": "outline"
					}
				},
				{
					"type": "image_slide",
					"settings": {
						"image": "shopify://shop_images/smi-download_23.jpg",
						"subheading": "",
						"heading": "Timeless style, modern comfort",
						"heading_size": "smi-h1",
						"description": "Indulge in the perfect blend of sophistication and comfort in designs tailored for those who appreciate timeless style.",
						"first_button_label": "Shop now",
						"first_button_link": null,
						"first_button_style": "solid",
						"second_button_label": "Explore all",
						"second_button_link": null,
						"second_button_style": "outline"
					}
				},
				{
					"type": "image_slide",
					"settings": {
						"image": "shopify://shop_images/smi-download_3_bae85534-2ae9-4781-b2e3-1b32826d4c55.jpg",
						"subheading": "",
						"heading": "Instant fashion transformations",
						"heading_size": "smi-h1",
						"description": "Stepping into the realm of bohemian fashion is akin to entering a world of whimsy and carefree charm.",
						"first_button_label": "Explore all",
						"first_button_link": null,
						"first_button_style": "solid",
						"second_button_label": "Shop product",
						"second_button_link": null,
						"second_button_style": "outline"
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#fcf8f5",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#fcf8f5",
						"outline_button_color": "#000000",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
(function () {
    class SMI_Slideshow {
        options = {
            
            init: false,
            loop: true,
            autoHeight: true,
            grabCursor: true,

            
            pagination: {
                el: null,
                clickable: true
            },

            navigation: {
                nextEl: null,
                prevEl: null,
            }
        }
        swiper = null
        el = null
        dataSetting = null

        
        constructor(sectionEl) {
            if (typeof Swiper === 'undefined') return null;
            this.sectionEl = sectionEl;
            this.el = sectionEl.querySelector('.smi-slideshow')

            this.initSlideshow()
            
            this._handleButtonPlayVideo()
            this.fitCoverVideo()
        }

        initSlideshow() {

            this.dataSetting = JSON.parse(this.el.getAttribute('data-slider'))

            this._handleSettingBeforeInitSlide()

            this.options.navigation.nextEl = this.sectionEl.querySelector('.arrow-slider-right');
            this.options.navigation.prevEl = this.sectionEl.querySelector('.arrow-slider-left');
            this.options.pagination.el = this.sectionEl.querySelector('.smi-pagination');

            this.swiper = new Swiper(this.el, this.options);
            this.swiper.on('init', (swiper) => {
                this._handleButtonAutoplay()
                this._handleButtonMuteClick()
                this._handleVisibilityButtonMute(swiper)
                this._handleAutoplayVideo(swiper)
            });
            this.swiper.on('slideChange', (swiper) => {
                this._handleVisibilityButtonMute(swiper)
                this._handleAutoplayVideo(swiper)
                this._handleButtonMuteOnChangeSlide()
            });
            this.swiper.on('beforeResize', (swiper) => {
                this._setHeightSlide();
            });
            this.swiper.on('afterInit', (swiper) => {
                this._handlePaginationPosition();
            });

            this.swiper.init();
        }

        _handleSettingBeforeInitSlide() {

            this._setHeightSlide();

            if(this.dataSetting.spaceBetween){
                this.options.spaceBetween = parseInt(this.dataSetting.spaceBetween)
            }

            if (this.dataSetting.autoplay) {
                this.options.autoplay = {
                    delay: this.dataSetting?.delay ?? 5000,
                    disableOnInteraction: false
                }
            } else {
                delete this.options['autoplay']
            }

            if (this.dataSetting.effect === "fade") {
                this.options.effect = "fade"
                this.options.fadeEffect = {
                    crossFade: true
                }
            } else {
                delete this.options['effect']
            }

            if (this.dataSetting.pageDotStyle.includes('text-style')) {
                this.options.pagination = {
                    type: "fraction",
                    clickable: true,
                }
            } else {
                this.options.pagination = {
                    clickable: true,
                }
            }
        }

        _setHeightSlide() {
            
            const slide = this.el.querySelector('.swiper-slide');
            if(!slide){
                return null;
            }
            let imageRatio = slide.getAttribute('data-first-image-ratio');
            if (imageRatio !== "unset") {
                let width = slide.querySelector('.smi-slide-background').clientWidth
                let height = width / imageRatio;
                this.el.querySelectorAll('.swiper-slide').forEach((el) => {
                    el.style.setProperty('--slide-height', height + 'px')
                })
            }
        }

        _handleButtonAutoplay() {
            const btn = this.el.querySelector('.smi-btn-play')
            if (btn) {
                btn.addEventListener('click', () => {
                    let btnStatus = btn.getAttribute('data-status')
                    this._handleToggleButton(btn)
                    if (btnStatus === 'on') {
                        if (this.swiper.autoplay.running) {
                            this.swiper.autoplay.pause()
                        }
                    } else if (btnStatus === 'off') {
                        if (this.swiper.autoplay.paused) {
                            this.swiper.autoplay.resume()
                        } else {
                            this.swiper.autoplay.start()
                        }
                    }
                })
            }
        }

        _handleButtonMuteClick() {
            const btn = this.el.querySelector('.smi-btn-mute')
            
            if (btn) {
                btn.addEventListener('click', () => {
                    let btnStatus = btn.getAttribute('data-status')
                    this._handleToggleButton(btn)
                    if (btnStatus === 'on') {
                        this._handleMute()
                    } else if (btnStatus === 'off') {
                        this._handleUnmute()
                    }
                })
            }
        }

        _handleButtonMuteOnChangeSlide() {
            const btn = this.el.querySelector('.smi-btn-mute')
            
            if (btn) {
                btn.setAttribute('data-status', 'off')
                btn.querySelector('.smi-icon-mute').classList.remove('smi-d-none')
                btn.querySelector('.smi-icon-unmute').classList.add('smi-d-none')
                this._handleMute();
            }
        }

        _handleVisibilityButtonMute(swiper) {
            const video = swiper.slides[swiper.activeIndex].querySelector('video')
            const btn = this.el.querySelector('.smi-btn-mute');

            if (!btn || !video) {
                return null
            }

            const parentBtn = btn.parentNode;
            if (video && video.classList.contains('smi-has-unmute-button')) {
                btn.classList.remove('smi-d-none')

                if (parentBtn.children.length < 2) {
                    parentBtn.classList.remove('smi-d-none')
                }
            } else {
                if (parentBtn.children.length < 2) {
                    parentBtn.classList.add('smi-d-none')
                }
                btn.classList.add('smi-d-none')
            }
        }


        _handleMute() {
            this.el.querySelectorAll('video').forEach(video => {
                video.muted = true;
            })
        }

        _handleUnmute() {
            const video = this.el.querySelector('.swiper-slide-active video');
            if (video) {
                video.muted = false
            }
        }

        _handleToggleButton(button) {
            let btnStatus = button.getAttribute('data-status')

            button.setAttribute('data-status', (btnStatus === "on") ? 'off' : 'on')

            button.querySelectorAll('span').forEach((el) => {
                el.classList.toggle("smi-d-none")
            })

        }

        _handleAutoplayVideo(swiper) {
            const currentSlide = swiper.slides[swiper.activeIndex];
            
            this.el.querySelectorAll('video').forEach(video => {
                video.pause();
            })

            this.el.querySelectorAll('.smi-js-youtube').forEach((video) => {
                video.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', "*");
            });

            this.el.querySelectorAll('.smi-js-vimeo').forEach((video) => {
                video.contentWindow.postMessage('{"method":"pause"}', '*');
            });

            if (currentSlide.querySelector('.smi-background-video')){
                
                const video = currentSlide.querySelector('video')
                if (video){
                    let timeout;
                    (()=> {
                        if (video) {
                            clearTimeout(timeout);
                            timeout = setTimeout(function () {
                                video.play();
                            }, 150);
                        }
                    })();
                }
                else if(currentSlide.querySelector('.smi-js-youtube')){
                    const iframe = currentSlide.querySelector('.smi-js-youtube');
                    iframe.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', "*");
                }
                else if(currentSlide.querySelector('.smi-js-vimeo')){
                    const iframe = currentSlide.querySelector('.smi-js-vimeo');
                    iframe.contentWindow.postMessage('{"method":"play"}', '*');
                }
            }
        }


        
        _handleButtonPlayVideo() {
            const button = this.el.querySelector('.smi-cover-image__play-button')

            if (!button) {
                return null
            }

            button.addEventListener('click', e => {
                button.closest('.smi-cover-image').classList.add('smi-d-none')

                this.el.querySelectorAll('.smi-js-youtube').forEach((video) => {
                    video.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', "*");
                });

                this.el.querySelectorAll('.smi-js-vimeo').forEach((video) => {
                    video.contentWindow.postMessage('{"method":"play"}', '*');
                });
            })
        }

        parseResolutionString(res) {
            const pts = res.split(/\s?:\s?/i);
            const DEFAULT_RESOLUTION = 16 / 9;
            if (pts.length < 2) {
                return DEFAULT_RESOLUTION;
            }

            const w = parseInt(pts[0], 10);
            const h = parseInt(pts[1], 10);

            if (isNaN(w) || isNaN(h)) {
                return DEFAULT_RESOLUTION;
            }

            return w / h;
        }

        fitCoverVideo(){
            const resolution_mod = this.parseResolutionString("16:9");
            const onResize = () => {
                const iframes = this.el.querySelectorAll('iframe')
                if (iframes.length) {
                    const wrap = this.el.querySelector('.smi-slide-background');
                    const h = wrap.offsetHeight + 200;
                    const w = wrap.offsetWidth + 200;
                    const res = resolution_mod;
                    iframes.forEach(iframe => {
                        if (iframe.classList.contains('smi-background-video')) {
                            if (res > w / h) {
                                iframe.style.width = h * res + 'px';
                                iframe.style.height = h + 'px';
                            } else {
                                iframe.style.width = w + 'px';
                                iframe.style.height = w / res + 'px';
                            }
                        }
                    })
                }
            }

            window.addEventListener('resize', () => {
                window.requestAnimationFrame(onResize);
            });

            onResize();
        }
        _handlePaginationPosition(){

            const resizeObserver = new ResizeObserver(entries => {
                setTimeout(()=>{
                    const contentEl = this.sectionEl.querySelector('.smi-slide-content__inner');
                    const paginationWrap = this.sectionEl.querySelector('.smi-dots-wrap');
                    if (!paginationWrap || !contentEl) return null;
                    const pagination = paginationWrap.querySelector('.smi-slideshow__dots');
                    const offsetLeft = contentEl.offsetLeft - paginationWrap.offsetLeft;
                    paginationWrap.style.paddingLeft = offsetLeft + 'px';

                    const computedStyle = window.getComputedStyle(contentEl);
                    const paddingLeftValue = computedStyle.paddingLeft;
                    const paddingRightValue = computedStyle.paddingRight;

                    pagination.style.width = contentEl.offsetWidth + 'px';
                    pagination.style.paddingLeft = paddingLeftValue;
                    pagination.style.paddingRight = paddingRightValue;

                    paginationWrap.classList.remove('smi-invisible');
                },150)
            });

            resizeObserver.observe(this.sectionEl.querySelector('.swiper-wrapper'));

            
            const height = this.sectionEl.querySelector('.smi-dots-wrap')?.offsetHeight;
            this.sectionEl.style.setProperty('--pagination-height', height + 'px')
        }
    }

    if (Shopify.designMode){
        let count = 0;
        const timer = setInterval(() => {
            count++;
            if(typeof Swiper !== "undefined" || count > 200) {
                clearInterval(timer)
                new SMI_Slideshow(document.getElementById('smi-{{ section.id }}'))
            }
        }, 10)
    }else {
        document.addEventListener('DOMContentLoaded',() => {
            new SMI_Slideshow(document.getElementById('smi-{{ section.id }}'))
        })
    }

})();




;

</script>