{% style %} .wavy-svg-one { overflow: visible !important; width: 125vw; left: -20vw; position:relative; padding:5vw 0; } .wavy-path { position: absolute; translate: 0 -60%; z-index: 1; } .wavy-path { width: 100vw; overflow: hidden; } tspan { font-family:var(--font-heading-family); } .section-{{ section.id }} #path-span-one { fill:{{ section.settings.color_text}}; font-size: {{ section.settings.font_size }}rem; } .section-{{ section.id }} #path-bg-one { transform:translateY({{ section.settings.movePath }}%); } {% if section.settings.custompath_text != blank %} .section-{{ section.id }} #path-text-one { d:path("{{ section.settings.custompath_text }}"); } {% endif %} {% if section.settings.custompath_bg != blank %} .section-{{ section.id }} #path-bg-one { d:path("{{ section.settings.custompath_bg }}"); } {% endif %} {% endstyle %}
<section class="custom-banner section-{{ section.id }} {% if section.settings.custom_class != 'blank' %} {{ section.settings.custom_class }}{% endif %}">
  <div class="ss-content-wrapper">
    <div class="wavy-path">
      <svg
        version="1.1"
        class="wavy-svg-one"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1579 285"
        xml:space="preserve"
      >
        <style type="text/css"> {% unless section.settings.transparent_bg %} .section-{{ section.id }} .path-bg{fill: {{ section.settings.background }};} {% else %} .section-{{ section.id }} .path-bg{fill: rgba(0,0,0,0);} {% endunless %} .path-text{fill:none;} </style> <g> <path class="path-bg" id="path-bg-one" d="M785.93.06c60.14-1,118.16,9.59,177.38,32.35C1014.39,52.05,1059.74,78,1103.6,103c62.57,35.73,121.66,69.48,189.27,80,75.43,11.79,154.17-6.38,247.79-57.16l38.15,70.31c-57.23,31.05-110,51.29-161.27,61.87-47.19,9.74-92,11.06-137,4-82.15-12.84-150.5-51.88-216.59-89.63C979,124,898.87,78.2,787.25,80.05S597,130.33,513.81,181.6C449,221.53,382,262.81,300.31,278.37c-44.75,8.52-89.59,8.69-137.07.52C111.62,270,58.22,251.54,0,222.41l35.79-71.55c95.26,47.66,174.56,63.2,249.55,48.92,67.22-12.8,125.17-48.5,186.51-86.29,43-26.49,87.47-53.88,137.87-75.21C668.15,13.56,725.79,1.06,785.93.06Z"/> </g> <path id="path-text-one" class="path-text" d="M17.9,186.64C395.25,375.42,478.79,45.17,786.59,40.06s402.26,322.19,773.14,121"/> <text width="100%" style="transform:translate3d(0,0,0);"><textPath class="text-path" alignment-baseline="top" xlink:href="#path-text-one" startOffset="-3200" id="path-text-one-letters"> <tspan id="path-span-one"> {{ section.settings.text }} </tspan> <animate attributeName="startOffset" repeatCount="indefinite" from="-3200" to="0" begin="0s" dur="150s" ></animate> </textPath> </text>
      </svg>
    </div>
  </div>
</section>
{% schema %} { "name": "Wavy Marquee", "settings": [ { "type": "html", "id": "text", "label": "Marquee Text" }, { "type": "checkbox", "id": "transparent_bg", "label": "Transparent Background", "default": true }, { "type": "color", "id": "background", "label": "Background", "default": "transparent", "info":"This will only work if the transparent option is toggled off." }, { "type": "color", "id": "color_text", "label": "Text Color", "default": "rgba(0,0,0,1)" }, { "type": "range", "id": "font_size", "min": 1, "max": 10, "step": 1, "unit": "rem", "label": "Font size", "default": 2 }, { "type": "range", "id": "movePath", "min": -10, "max": 10, "step": 1, "unit": "%", "label": "Background Movement", "default": 0 }, { "type": "html", "id": "custompath_text", "label": "Custom Path for Text", "info":"This is an advanced option." }, { "type": "html", "id": "custompath_bg", "label": "Custom Path for the Background", "info":"This is an advanced option." }, { "type": "html", "id": "custom_class", "label": "Custom Class", "info":"Separate multiple classes with spaces. Please do not add comma or other symbols." } ], "blocks": [ ], "presets": [ { "name": "Wavy Marquee" } ] } {% endschema %}
